// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700");
@import url("https://fonts.googleapis.com/css?family=Barlow:300");

// Define fonts for body and headers


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


/* --- Fonts --- */
body {
  font-family: 'Nanum Gothic', sans-serif !important;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}
h3 {
  font-size: 20px;
  margin-bottom: 14px !important;
  margin-top: 14px !important;
}
h4 {
  font-size: 20px !important;
  font-weight: normal;
}
h5 {
  font-size: 16px !important;
  font-weight: normal;
  margin: 0px !important;
}
p {
  font-size: 16px;
  font-weight: normal;
  /* Il faudrait une version à 300 */
}
a {
  color: #2C3C4C;
  text-decoration: none;
}

a:hover {
  color: #2C3C4C;
  text-decoration: none;
}

a:visited {
  color: #2C3C4C;
  text-decoration: none;
}
a:active {
  color: #2C3C4C;
  text-decoration: none;
}
