#edit-company-info {
  font-size: 16px;
  position: absolute;
  top: 14px;
  right: 30px;
  color: #FDBB58;
}
#company-card{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.company-show-logo {
  width: 150px;
  flex: none;
  text-align: center;
  h3 {
    font-size: 24px;
    margin-top: 0px !important;
  }
}
.company-show-infos {
  width: 50%;
  text-align: justify;
}
.operation-step-description {
  margin-bottom: 100px;
  padding-left: 36px;
}


