#Info-Rep-inline {
  display: flex;
  flex-wrap: wrap;
}

#edit-company-info {
  font-size: 16px;
  position: absolute;
  top: 14px;
  right: 30px;
  color: #FDBB58;
}
#company-card{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.company-show-logo {
  width: 200px;
  flex: none;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  img {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}
.company-show-infos {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.operation-step-description {
  margin-bottom: 100px;
  padding-left: 36px;
}
.company-info-card{
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 200px;
  flex: 1 1 0;
  margin-right: 20px;
}
.company-info-card-body {
  text-align: center;
}
.company-captable-card{
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  flex: 1 1 0;
}


