.company-container-cards {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.company-card {
  flex: 0 0 auto;
  width: 180px;
  padding: 20px 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 0;
  margin: 0px 16px;
     text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}

/* Product image */
.product-image {
  border-radius: 5px;
}

/* Hover effects */
.company-card:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.company-card:hover {
  color: #E6E6E6;
}
#creation-timeline-img{
  padding-top: 24px;
  width: 700px;
}
.home-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  margin-bottom: 40px;
}
.home-steps-header{
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.step-card {
  flex: 1 1 0;
  margin:10px;
  min-width: 180px;
  background: #fff;
  box-shadow: 1px 3px 4px 0px #2c3c4c2b;
  .step-card-header{
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    word-break:break-word;
  }
  .step-card-body{
    text-align: justify;
    font-size: 14px;
    padding: 16px;
    word-break:break-word;
  }
}
