.signin {
  position: absolute;
  top: 60px;
  right: 80px;
}

body {
  margin: 0;
  padding:0px;
}
.sc-banner {
  height: 100vh;
  background-size: cover;
  color: white;
  text-align: center;
}
#superclosing-landing-logo{
  width: 700px;
  margin-top: 120px;
}
.banner-features {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.sc-landing-feature {
  text-align: center;
  padding: 22px 20px;
  max-width: 300px;
  max-height: 400px;
  background: #b5aa9a4d;
  border-radius: 4px;

  i {
    font-size:50px;
    color: #ffac30;
  }
  h5 {
    font-size:24px;
    margin: 8px;
  }
}
.landing-inner-text{
  padding: 8px;
  height:160px;
}
