.pages-wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}
.main {
  width: 100%;
  min-height: 100vh;
  transition: all .4s ease-in-out;
  margin-left:220px;
  margin-right: 220px;
  padding-left: 16px;
  padding-right: 16px;
}
.page-header {
  margin-top: 16px;
  font-size: 30px;
  padding-left:30px;
  padding-bottom: 30px;
  h5 {
    padding-top: 20px;
    color: #2C3C4C;
  }
}
.col{
  margin-bottom: 32px;
}
.row {
  padding: 0px;
}

#home-loop-eclair {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-eclair {
  height: 80px;
  padding-top: 20px;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate3d(0,0,0,0deg);
    }
    to {
        -webkit-transform: rotate3d(0,1,0,359deg);
    }
}
