<div id="slide">
  <h4>Créez votre profil société</h4>
  <a href="" style="color: white; font-size: 0.8em;
    font-weight: 500 !important;" class="btn btn-slide" data-toggle="modal" data-target="#modalCompanyCreation">Créer <i class="fas fa-play"></i></a>
</div>
