<% unless current_user.roles.empty? %>
  <% if current_user.roles.first.category == 'Investisseur' %>
    <%= render 'home-investor' %>
  <% else %>
    <%= render 'home-main' %>
  <% end %>
<% else %>
  <%= render 'home-main' %>
<% end %>

<%= link_to send_signatures_path do %>
  <button style="button" class="btn-transparent-small">Lancer les signatures</button>
<% end %>
