<% if current_user.companies.length == 0 %>


  <p>Vous n'avez encore enregistré aucune société sur Superclosing.</p>

  <p> <%= link_to "Enregistrer une nouvelle société", new_company_path, class: 'btn btn-success'%> </p>

<% else %>

  <p>
    Vous êtes associé et souhaitez accéder à la dashboard de votre société, sélectionnez votre société :
  </p>

  <ul>
    <% @associe.each do |role|%>
    <li> <%= link_to "#{role.company.name}", company_path(role.company) %></li>
    <% end %>
  </ul>

    <p>Vous êtes investisseur et souhaitez accéder aux Data Room de vos opérations, sélectionnez la société :</p>

  <ul><% @investisseur.each do |role|%>
    <li> <%= link_to "#{role.company.name}", company_path(role.company) %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to "ou créez une nouvelle société", new_company_path%> </p>

</p>
