<div class="wrapper">
  <div class="sc-banner" style="background-image: linear-gradient(-225deg, rgba(156, 149, 149, 0.3) 0%, rgba(51, 63, 43, 0.3) 70%), url(<%= asset_path "background.jpg" %>);">

   <!--  <div class="signin">
      <%#= link_to new_user_session_path do %>
        <button type="button" class="btn btn-landing-signin">Connexion</button>
      <%# end %>
    </div> -->

    <div class="banner-content">
      <div>
        <%= image_tag "logo_big.png", id: "superclosing-landing-logo" %>
      </div>

      <div>
        <p>Votre opération sur capital <span id="typed_text"></span></p>
      </div>

        <%#= link_to new_user_registration_path do %>
         <a class="btn btn-landing-signup" href="mailto:contact@superclosing.com?subject=Demande%20de%20renseignements&#038;body=Bonjour,%20je%20souhaiterais%20avoir%20des%20renseignements%20sur%20votre%20service.%20Merci,">Découvrir la solution !</a>
      <%# end %>

      </div>
  </div>
</div>

<div class="wrapper">
  <div class="banner-title">
    Ce que nous vous proposons
  </div>
  <div class = banner-features>
    <div class="sc-landing-feature">
      <i class="far fa-compass"></i>
      <div class="landing-inner-title">
        <h5>Votre opération sur capital <br> simplifiée</h5>
      </div>
      <div class='landing-inner-text'>
        <p>
          Nous vous accompagnons étape par étape dans votre opération : chaque étape est expliquée et détaillée - avec tous les documents adaptés à votre situation.
        </p>
      </div>
    </div>

    <div class="sc-landing-feature">
      <i class="far fa-check-square"></i>
      <div class="landing-inner-title">
        <h5>Un processus unifié et centralisé</h5>
      </div>
      <div class='landing-inner-text'>
        <p>
          Une plateforme unique, un partage d’informations transparent avec vos investisseurs et une documentation toujours à jour.
        </p>
      </div>
    </div>

    <div class="sc-landing-feature">
      <i class="far fa-paper-plane"></i>
      <div class="landing-inner-title">
        <h5>Une solution plus rapide et moins chère</h5>
      </div>
      <div class='landing-inner-text'>
        <p>
          Toutes les étapes sont gérées par notre outil (de la création de l'opération aux formalités) : pas de recours à des prestataires externes générant coûts et complexité.
        </p>
      </div>
    </div>
  </div>
  <div class="landing-video">
   <div class="banner-title">
    En images - Le Wagon Demo Day
   </div>
   <div id="embed-demoday-video">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/ICliaJ8Krpg?start=2862" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>
</div>

<div class="landing-footer">
  <div class='footer-logo'>
    <%= image_tag "eclair.png", id: "footer-logo"%>
  </div>
  <div class="footer-text">
    SUPERCLOSING - 2019
  </div>
</div>
