<div class="wrapper">
  <div class="sc-banner" style="background-image: linear-gradient(-225deg, rgba(156, 149, 149, 0.3) 0%, rgba(51, 63, 43, 0.3) 70%), url(<%= asset_path "background.jpg" %>);">

    <div class="signin">
      <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-landing-signin">Connexion</button>
      <% end %>
    </div>

    <div class="banner-content">
      <div>
        <%= image_tag "logo.png", id: "superclosing-landing-logo" %>
      </div>

      <div>
        <h4 style="margin-bottom: 40px;">Votre levée de fonds <span id="typed_text"></span></h4>
      </div>

        <%= link_to new_user_registration_path do %>
         <button type="button" class="btn btn-landing-signup">Lancez-vous</button>
      <% end %>

      </div>
  </div>
</div>

<div class="wrapper">
  <div class = banner-features>

    <div class="sc-landing-feature">
      <i class="fas fa-compass"></i>
      <h5><strong>Simplifiez votre levée de fonds</strong></h5>
      <div class='landing-inner-text'>
        <p>
          Nous vous accompagnons étape par étape dans votre levée. <br> Chaque étape expliquée et détaillée, tous les documents adaptés à votre situation.
        </p>
      </div>
    </div>

    <div class="sc-landing-feature">
      <i class="fas fa-clipboard-check"></i>
      <h5><strong>Un processus unifié et centralisé</strong></h5>
      <div class='landing-inner-text'>
        <p>
          Une documentation juridique unique, un partage d’informations transparent avec vos investisseurs, une information toujours à jour.
        </p>
      </div>
    </div>

    <div class="sc-landing-feature">
      <i class="fas fa-tachometer-alt"></i>
      <h5><strong>Une solution moins chère et plus rapide</strong></h5>
      <div class='landing-inner-text'>
        <p>
          Toutes les étapes sont gérées par votre outil, pas de recours à des prestataires externes générant coûts et complexité.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="landing-footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">

  </div>
</div>
