<div class="wrapper">
  <div class="sc-banner" style="background-image: linear-gradient(-225deg, rgba(156, 149, 149, 0.3) 0%, rgba(51, 63, 43, 0.3) 70%), url('background.jpg');">
    <div class="banner-content">
      <h1>LMD</h1>
      <p>Simplifiez votre levée de fonds</p>
      <%= link_to new_user_session_path do %>
        <btn class="btn-rocket">Inscrivez-vous</btn>
      <% end %>
    </div>
  </div>
</div>
