<div id="slide">
  <h4>Lancez une nouvelle opération !</h4>

  <div class="text-align-center">
    <%= link_to new_company_operation_path(@company) do %>
      <button style="button" class="btn btn-slide">Levée de fonds    <i class="fas fa-rocket"></i></button>
    <% end %>
  </div>

</div>



