<h2>Enregistrer une société</h2>

<form action="/companies" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <div>
    <label for="siren">SIREN (sans espace) </label>
    <input type="string" name="company[siren]" id="company-siren-field">
  </div>
  <div id='card-result-api-siren'>
    <div>
      <label for="name">Nom  </label>
      <input type="string" name="company[name]" id="company-name-field">
    </div>
    <div>
      <label for="address">Adresse  </label>
      <input type="string" name="company[address]" id="company-address-field">
    </div>
    <div>
      <label for="legal_form">Forme sociale  </label>
      <input type="string" name="company[legal_form]" id="company-legal-form-field">
    </div>
    <div>
      <label for="creation_date">Date d'immatriculation de la société </label>
      <input type="string" name="company[creation_date]" id="company-creation-date-field">
    </div>
     <div>
      <label for="fiscal_date">Date de cloture de l'exercice social </label>
      <input type="string" name="company[fiscal_date]" id="company-fiscal-date-field">
    </div>
    <div>
      <label for="number_of_shares">Nombre d'actions initial  </label>
      <input type="integer" name="company[number_of_shares]" id="number_of_shares">
    </div>
    <div>
      <label for="share_nominal_value_cents">Valeur nominale de l'action </label>
      <input type="integer" name="company[share_nominal_value_cents]" id="share_nominal_value_cents">
    </div>
    <div>
      <label for="share_nominal_value_currency">Monnaie devise </label>
      <input type="string" name="company[share_nominal_value_currency]" id="share_nominal_value_currency">
    </div>
  </div>

  <div>
    <label for="logo_url"> Logo de l'entreprise (.jpg): </label>
    <input type="file" name="logo_url" value="logo_url" id="logo_url">
  </div>

  <input type="submit", class='btn btn-success'>

</form>

