<div id="slide">

  <h4 class="huge">0/<%= @operation.d_documents.count %></h4>

  <p>documents signés</p>
  <p style="font-weight: bold;">Vous y êtes presque !</p>

  <div id="home-loop-eclair">
      <%= image_tag "eclair.png",  id: "home-eclair", alt: "eclair" %>
  </div>


</div>
