
<div class="main-width">


  <h1>Documents à Signer</h1>
  <p>Opération de <%= @operation.category %> : <%= @operation.name %></p>

  <div class="doc-container">
    <% @operation.d_documents.each do |ddoc| %>
      <%= link_to d_document_path(@operation, ddoc) do %>
        <div class="doc-card partition">
          <div class="sign-card-logo">
            <i class="fas fa-edit"></i>
          </div>
          <div class="doc-card-body">
            <div class="doc-card-avatar">
              <i class="fas fa-file-pdf"></i>
            </div>
            <div class="sign-card-header">
              <%= ddoc.title %>
              <i class="fas fa-envelope"></i>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>











</div>
