<h1>Ceci est la page de test à imprimer</h1>

<p><strong>Après avoir pris connaissance :</strong></p>
<ul>
  <li>des statuts de la Société ;</li>
  <li>de la décision d’augmentation de capital prise par l’assemblée générale extraordinaire de la Société en date du 2 mai 2019, par l’émission de  2 000 actions ordinaires d’une valeur nominale de 1 euros chacune assorties d’une prime d’émission unitaire de 500 euros (les « <strong>Actions Emises</strong> ») ;</li>
  <li>de la renonciation écrite des associés de la Société à leur exercice du droit préférentiel de souscription ;</li>
</ul>
