<h1>Faire une show de la captable</h1>
<p>Cette page devra s'afficher si l'opération 'initialisation-captable' a été faite par l'utilisateur</p>
<p>Pour le moment, il rederige tout le temps sur l'initialisation</p>
