<h1>Voici mon template de document dynamique</h1>

<p class="p1"><span class="s1"><strong>|$societe|</strong></span><span class="s2"><strong><br /></strong></span><span class="s1">Forme sociale</span></p>
<p class="p2"><span class="s1">Si&egrave;ge social&nbsp;: </span><span class="s3">[&nbsp;]<br />[&nbsp;] </span><span class="s1">RCS</span></p>
<p class="p3">&nbsp;</p>
<p class="p2"><span class="s1">(ci-apr&egrave;s la &laquo;&nbsp;<strong>Soci&eacute;t&eacute;</strong>&nbsp;&raquo;)</span></p>
<p class="p4">&nbsp;</p>
<p class="p4">&nbsp;</p>
<p class="p2"><span class="s1"><strong>BULLETIN DE SOUSCRIPTION</strong></span></p>
<p class="p4">&nbsp;</p>
<p class="p5"><span class="s3">[&nbsp;Nom ]</span><span class="s1">, n&eacute; le </span><span class="s3">[ Date ]</span><span class="s1">, de nationalit&eacute; </span><span class="s3">[&nbsp;]</span><span class="s1">, domicili&eacute; </span><span class="s3">[&nbsp;],</span></p>
<p class="p6">&nbsp;</p>
<p class="p5"><span class="s1"><strong>Apr&egrave;s avoir pris connaissance&nbsp;:</strong></span></p>
<p class="p6">&nbsp;</p>
<ul class="ul1">
<li class="li5"><span class="s1">des statuts de la Soci&eacute;t&eacute;&nbsp;;</span></li>
<li class="li5"><span class="s1">de la d&eacute;cision d&rsquo;augmentation de capital prise par l&rsquo;assembl&eacute;e g&eacute;n&eacute;rale extraordinaire de la Soci&eacute;t&eacute; en date du </span><span class="s3">[&nbsp;]</span><span class="s1">, par l&rsquo;&eacute;mission de</span><span class="s3"> [&nbsp;] </span><span class="s1">actions ordinaires d&rsquo;une valeur nominale de [&nbsp;] euros chacune assorties d&rsquo;une prime d&rsquo;&eacute;mission unitaire de</span><span class="s3"> [&nbsp;] </span><span class="s1">euros (les &laquo;&nbsp;<strong>Actions Emises</strong>&nbsp;&raquo;)&nbsp;;</span></li>
<li class="li5"><span class="s1">de la renonciation &eacute;crite des associ&eacute;s &agrave; leur exercice du droit pr&eacute;f&eacute;rentiel de souscription,</span></li>
</ul>
<p class="p6">&nbsp;</p>
<p class="p5"><span class="s1"><strong>D&eacute;clare&nbsp;:</strong></span></p>
<p class="p6">&nbsp;</p>
<ul class="ul1">
<li class="li5"><span class="s1">avoir &eacute;t&eacute; parfaitement inform&eacute; de l&rsquo;&eacute;mission des Actions Emises par la Soci&eacute;t&eacute; et du fait que&nbsp;:</span></li>
<ul class="ul1">
<li class="li5"><span class="s1">le prix d&rsquo;&eacute;mission sera payable en num&eacute;raire et devra &ecirc;tre lib&eacute;r&eacute; int&eacute;gralement dans un d&eacute;lai de cinq jours &agrave; compter des pr&eacute;sentes&nbsp;;</span></li>
<li class="li5"><span class="s1">les fonds seront d&eacute;pos&eacute;s sur le compte ouvert aupr&egrave;s de la banque </span><span class="s3">[&nbsp;]</span><span class="s1">, sur un compte sp&eacute;cial d'augmentation de capital ouvert au nom de la Soci&eacute;t&eacute; et dont le num&eacute;ro d&rsquo;IBAN est&nbsp;: </span><span class="s3">[&nbsp;]</span><span class="s1"> (le &laquo;&nbsp;<strong>Compte Bancaire</strong>&nbsp;&raquo;)&nbsp;; </span></li>
</ul>
</ul>
<p class="p7">&nbsp;</p>
<ul class="ul1">
<li class="li5"><span class="s1">et exer&ccedil;ant les droits de souscription dont je suis titulaire,</span></li>
</ul>
<p class="p6">&nbsp;</p>
<p class="p5"><span class="s1"><strong>D&eacute;clare&nbsp;:</strong></span></p>
<p class="p6">&nbsp;</p>
<ul class="ul1">
<li class="li5"><span class="s1">souscrire &agrave; </span><span class="s3">[&nbsp;] </span><span class="s1">actions ordinaires sur les </span><span class="s3">[&nbsp;] </span><span class="s1">Actions Emises au titre de l&rsquo;Augmentation de Capital&nbsp;;</span></li>
<li class="li5"><span class="s1">s&rsquo;engager &agrave; lib&eacute;rer la souscription par virement bancaire sur le Compte Bancaire de la Soci&eacute;t&eacute; pour un montant total de</span><span class="s3"> [&nbsp;]</span><span class="s1">, correspondant au prix total de souscription des actions, dont </span><span class="s3">[&nbsp;] </span><span class="s1">de prime d&rsquo;&eacute;mission,</span></li>
</ul>
<p class="p8">&nbsp;</p>
<p class="p5"><span class="s1">Je reconnais qu&rsquo;un exemplaire sur papier libre du pr&eacute;sent bulletin m'a &eacute;t&eacute; remis.</span></p>
<p class="p6">&nbsp;</p>
<p class="p6">&nbsp;</p>
<p class="p9"><span class="s1">Fait &agrave; </span><span class="s3">[&nbsp;] </span><span class="s1">en deux exemplaires originaux,</span></p>
<p class="p10"><span class="s2">Le</span><span class="s1"> [&nbsp;]</span></p>
<p class="p6">&nbsp;</p>
<p class="p6">&nbsp;</p>
<p class="p11"><span class="s1">[&nbsp;]</span></p>
