function closeForm() {
  const formField = document.getElementById("form-add-investor-toggle");
  formField.className = "hidden";
}

function regenerateButton() {
  const buttonAddDiv = document.getElementById("add-investor-btn-show");
  buttonAddDiv.insertAdjacentHTML('afterbegin', '<button type="button" class="btn-transparent-small" id="btn-add-investor"> Ajouter un investisseur</button>');
  const buttonAdd = document.getElementById("btn-add-investor");
  const formField = document.getElementById("form-add-investor-toggle");
  buttonAdd.addEventListener('click', (event) => {
    buttonAddDiv.innerHTML = "";
    formField.className = "";
  });
};


function refreshForm() {
  const email = document.getElementById("query_email");
  const amount = document.getElementById("query_amount");
  email.value = "";
  amount.value = "";
}

function refreshInvestors(shareholderHTML) {
  const refreshInvestors = document.getElementById('investor-list-partial');
  refreshInvestors.innerHTML = shareholderHTML;
}

function refreshChartShow(chartHTML) {
  const chart = document.getElementById('chart-operation-show');
  chart.innerHTML = chartHTML;
}

function refreshCaptableShow(captableHTML) {
  const captable = document.getElementById('new-captable-operation');
  captable.innerHTML = captableHTML;
}

function refreshSlide(slideHTML) {
  const slide = document.getElementById('slide-show-operation');
  slide.innerHTML = slideHTML;
}


<% if @investment.errors.any? %>
  closeForm();
  regenerateButton();
  refreshForm();
<% else %>
  refreshInvestors('<%= j render "investors/show-investors", operation: @operation %>');
  refreshChartShow('<%= j render "operations/chart-show-operation", operation: @operation %>');
  refreshCaptableShow('<%= j render "operations/chart-new-captable-operation", shareholders: @shareholders %>');
  refreshSlide('<%= j render "operations/slide-show-operation", operation: @operation %>');
  graphthird();
  graphfourth();
  closeForm();
  regenerateButton();
  refreshForm();
<% end %>
