body {
  margin: 0;
}

.sc-banner {
  height: 100vh;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sc-banner h1 {
  font-size: 60px;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 4px rgb(100, 100, 100);
}

.sc-banner p {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 60px;
  text-shadow: 1px 1px 3px rgb(80, 80, 80);
}

.sc-banner .btn-rocket {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(100, 100, 100);
  padding: 20px 40px;
}
