.btn-superclosing {
  background: #ffac30;
  color: #474f58;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #ffac30;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.4);
  opacity: 1;
  font-size: 14px !important;
  margin-top: 12px;
}

.btn-superclosing:hover {
  background: #474f58;
  color: white;
  text-decoration: none;
}

.btn-landing-signup {
  background: #ffac30;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 6px;
  box-shadow:2px 2px 2px 0px rgba(50, 50, 50, 0.22);
  position: relative;
  bottom: 24px;
}

.btn-landing-signup:hover {
  background: #ffac30;
  color: white;
  text-decoration: none;
}

.btn-landing-signin {
  background-color: inherit;
  border: 2px solid #ffac30;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.4);
}

.btn-landing-signin:hover {
  background: #ffac30;
  color: white;
  text-decoration: none;
}
input[type="submit"] {
  background: #ffac30;
  color: white;
  font-size: 0.8em;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.4);
  opacity: 1;
}
.btn-form-action {
  background: #ffac30;
  color: white;
  font-size: 0.8em !important;
  font-weight: 500 !important;
  text-decoration: none;
  border-radius: 6px !important;
  border: 2px solid #ffac30;
  padding: 6px 12px !important;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.4);
  opacity: 1;
}

.btn-form-action:hover {
  background: #ffac30;
  color: white;
  text-decoration: none;
}

.btn-transparent {
  background-color: inherit;
  border: 2px solid #ffac30;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #ffac30;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.4);
}

.btn-transparent:hover {
  background: #ffac30;
  color: white;
  text-decoration: none;
}
.btn-transparent:active {
  background: #ffac30;
  color: white;
  text-decoration: none;
}

.btn-transparent-small {
  background-color: inherit;
  border: 1px solid #ffac30;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffac30;
  font-size: 0.8em;
  font-weight: 300;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.18);
}

.btn-transparent-small:hover {
  background: #ffac30;
  color: white;
  text-decoration: none;
}

.btn-transparent-xtra-small {
  background-color: inherit;
  border: 1px solid #ffac30;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #ffac30;
  font-size: 0.7em;
  font-weight: 300;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.18);
}

.btn-transparent-xtra-small:hover {
  background: #ffac30;
  color: white;
  text-decoration: none;
}


.btn-add-company {
  width:100px;
  height: 100px;
  background: white;
  border-radius:5px;
  border: solid 2px #2D3D4D;
  white-space:normal;
  text-align:center;
  color: #2D3D4D;
  font-size: 13px;
  margin-top: 10px;
  padding: 26px 6px;
  a {
    text-decoration: none;
  }
}

.buttons-new-operation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-create-operation {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: $green;
  color: white;
}

.btn-cancel-operation {
  margin-top: 20px;
  margin-left: 30px;
  background: inherit;
  border: 1px solid $red;
  color: $red;
}

.btn-create-operation:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.btn-cancel-operation:hover {
  text-decoration: none;
  color: $red;
  background-color: #fdecec;
}
.btn-slide {
  width: 160px;
  color: white;
  background: #ffac30;
  border-radius: 6px !important;
  font-size: 0.8em !important;
  font-weight:500 !important;
  padding: 6px 12px !important;
  margin-top: 12px !important;
  margin-bottom :0px !important;
  border: 2px solid #ffac30;
  .fas:before {
    font-family: "Font Awesome 5 Free";
    margin-left: 7px;
    font-size: 0.8em !important;
  }
}
.btn-slide:hover {
  text-decoration: none;
  color: #ffac30 !important;
  border: 2px solid #ffac30 ;
  background: white;
}
