.btn-create-operation {
  margin-top: 20px;
  background: $green;
  color: white;
}

.btn-cancel-operation {
  margin-top: 20px;
  background: $red;
  color: white;
}

.btn-superclosing {
  background: #ffac30;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.4);
  opacity: 0.8;
}

.btn-superclosing:hover {
  background: #474f58;
  color: white;
  text-decoration: none;
}

.btn-landing-signup {
  background: #ffac30;
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.4);
  opacity: 1;
}

.btn-landing-signup:hover {
  background: #ffa118;
  color: white;
  text-decoration: none;
}

.btn-landing-signin {
  background-color: inherit;
  border: 2px solid #ffac30;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.4);
}

.btn-landing-signin:hover {
  background: #ffa118;
  color: white;
  text-decoration: none;
}

.btn-form-action {
  background: #ffac30;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.4);
  opacity: 1;
}

.btn-form-action:hover {
  background: #ffa118;
  color: white;
  text-decoration: none;
}

.btn-add-company {
  width:120px;
  height: 120px;
  background: white;
  border-radius:5px;
  border: solid 1px black;
  white-space:normal;
  text-align:center;
  color: black;
  a {
    text-decoration: none;
  }
}
