.btn-create-operation {
  margin-top: 20px;
  background: $green;
  color: white;
}

.btn-cancel-operation {
  margin-top: 20px;
  background: $red;
  color: white;
}

.btn-superclosing {
  background: #fc9600;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.4);
  opacity: 0.8;
}

.btn-superclosing:hover {
  background: #474f58;
  color: white;
  text-decoration: none;
}
  
.btn-add-company {
  width:120px;
  height: 120px;
  background: white;
  border-radius:5px;
  border: solid 1px black;
  white-space:normal;
  text-align:center;
  color: black;
  a {
    text-decoration: none;
  }
}
