.home-card-info{
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;

}
.home-card-header{
  border-bottom-width: 1px;
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2;
  text-align: center;
}
.home-card-body{
  p {
    font-size: 14px;
    padding:0px;
    margin: 0px;
  }

}
.home-card-avatar{


}
.home-card-footer{

}
