.home-card{
  background-color: #fff;
  margin-bottom: 20px;
}

.home-card-header {
  text-align: center;
  border-bottom-width: 1px;
  padding: 12px;
  border-bottom: 2px solid #FDBB58;
  margin-bottom:22px;
  position: relative;
  h4 {
    font-weight:bolder;
  }
}
.home-card-body {
  p {
    font-size: 14px;
    padding:0px 20px 10px 20px;
    margin: 0px;
  }
}
.home-card-avatar{
  text-align: center;
  padding: 20px;
  .avatar{
    border-radius: 50%;
    border: 2px solid #2C3C4C;
    border-spacing: 2px;
  }
}
.home-card-footer{
  text-align: center;
  a {
    text-decoration: none;
    color: #2C3C4C;
  }
}
.operation-card-body {
  display: flex;
}
.operation-card-body-text{
  text-align: justify;
  padding: 0px 30px;
}
.captable-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.captable-list-card {
  display: flex;
  flex-direction: column;
  width: 540px;
  padding-left: 15px;
}
.captable-card-show {
  height: 300px;
  width: 500px;
  background-color: blue;
  margin-top: 5px;
}

.step-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

