#myChart {
  height: 200px !important;
  width: 400px !important;
}

#mySecondChart {
  height: 200px !important;
  width: 200px !important;
}



.indicateurs {
  display: flex;
  // border: solid 2px #fc9600;
  // background-color: #eaeaea;
  border-radius: 8px;
  // box-shadow: 1px 1px 1px #fc9600;
  justify-content: space-between;
  margin: 1px;
  padding: 4px 8px;
  flex-direction: column;
}
.leftinfobox {
  background-color: #474F58;
  color: #eaeaea;
  margin: 2px;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline;
}

.number-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.graph-container {
  display: flex;
}

.graph {
  display: flex;
  flex-direction: column;
  text-align: center;
}
