/* Main navbar */
.navbar-superclosing {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 56px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
}

/* User Avatar */
.sidebar-superclosing .avatar {
  border-radius: 50%;
  width: 60px;
  border-radius: 50%;
  position: relative;
  left: 80px;
  top: 50px;
}

/* Right section */
.sidebar-superclosing-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.sidebar-superclosing-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-superclosing-link {
  color: #616668;
  font-size: 20px;
}
.navbar-superclosing-link:hover {
  color: #da552f;
  text-decoration: none;
}

