/* Main sidebar */
.sidebar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #2D3D4D;
  transition: all 0.3s ease;
  min-width: 220px;
  max-width: 220px;
  padding: 14px 0px;
  display: block;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  top: 0;
}
.sidebar-nav {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-bottom{
  margin-top: 28vh;
  left: 0px;
  bottom: 28px;
  color: #e2e2e4;
  font-weight: 300;
  font-family: 'Barlow';
  font-size: 0.8em;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  a {
    color: #FDBB58;
    text-decoration: none;
    font-family: 'Barlow';
    font-size: 1em !important;
  }
  a:hover {
    text-decoration: none;
  }
}
.dropdown-menu{
  min-width: 150px !important;
}

#sidebar-superclosing-menu {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  object-fit: cover;
  position: relative;
  left: 82px;
  top: 50px;
}
/* Dropdown menu */
.sidebar-superclosing-dropdown-menu {
  margin-top: 65px;
  position: absolute;
  left: 34px;
  border-radius: 4px;
}
.sidebar-superclosing-dropdown-menu li {
  a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    padding: 8px 18px;
  }
  a:hover {
    background: transparent !important;
    color: black !important;
  }

}

.sidebar-superclosing-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 70px;
  top: -5px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.sidebar-item {
  min-width: 220px;
  max-width: 220px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 38px;
  letter-spacing: 1px;
  i {
    color: #e2e2e4;
    font-size: 32px;
    font-family: 'Barlow', sans-serif !important;
    & span {
      font-size: 0.5em;
      font-weight: 300;
      padding-bottom: 2px;
    }
    & #sidebar-item-1, #sidebar-item-3 {
      padding-left: 10px;
      position: relative;
      bottom: 4px;
    }
    & #sidebar-item-2 {
      padding-left: 7.5px;
      position: relative;
      bottom: 4px;
    }
    & #sidebar-item-4 {
      padding-left: 13px;
      position: relative;
      bottom: 4px;
    }
    & span .sidebar-letter-color {
      font-size: 1.2em;
      font-weight: 300;
      color: #FDBB58;
      padding-right: 1px;
    }
  }
  // :hover{
  //   color: #FDBB58;
  // }
}
.sidebar-item:first-child {
  margin-top: 80px;
  margin-bottom: 30px;
}
.fas:before {
  font-family: "Font Awesome 5 Free";
}
.far:before {
  font-family: "Font Awesome 5 Free";
}
.sidebar-nav a {
  color: #ffffffab;
  text-decoration: none;
  :hover {
    color: #FDBB58;
  }
}
#superclosing-logo{
  max-width: 200px;
  position: relative;
  left: 12px;
  top: 2px;
}

