/* Main sidebar */
.sidebar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #2D3D4D;
  transition: all 0.3s ease;
  min-width: 220px;
  max-width: 220px;
  padding: 14px 0px;
  display: block;
}
.sidebar-nav {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-item {
  min-width: 220px;
  max-width: 220px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  letter-spacing: 1px;
  i {
    color: white;
    font-size: 32px;
    font-family: 'Barlow', sans-serif !important;
    & span {
      font-size: 0.5em;
      font-weight: 500;
      padding-bottom: 2px;
    }
    & #sidebar-item-1, #sidebar-item-3 {
      padding-left: 10px;
      position: relative;
      bottom: 4px;
    }
    & #sidebar-item-2 {
      padding-left: 7.5px;
      position: relative;
      bottom: 4px;
    }
    & #sidebar-item-4 {
      padding-left: 13px;
      position: relative;
      bottom: 4px;
    }
    & span .sidebar-letter-color {
      font-size: 1.1em;
      color: #FDBB58;
    }
  }
  // :hover{
  //   color: #FDBB58;
  // }
}
.fas:before {
  font-family: "Font Awesome 5 Free";
}
.far:before {
  font-family: "Font Awesome 5 Free";
}
.sidebar a {
  color: #ffffffab;
  text-decoration: none;
  :hover {
    color: #FDBB58;
  }
}
#superclosing-logo{
  max-width: 200px;
  position: relative;
  left: 12px;
  top: 2px;
}
