#slide {
  text-align: center;
  position: fixed;
  top: 92px;
  right: 20px;
  width: 200px;
  background-color: #2c3c4c;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
  color: white;
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
    margin: 0px;
  }
}

