#slide {
  position: sticky;
  top: 5px;
  width: 300px;
  margin-left: 800px;
  background-color: rgba( 234, 234, 234, 0.8 );
  padding: 5px;
  border-radius: 10px;
}

.position {
  position: absolute;
}
