<div class="graph">
  <p> Progression : <%= (@shares_values * 100 / @operation.target_amount.to_f.round(0)) %> %</p>

  <canvas id="chart-third" data-share="<%= @shares_values %> - <%= (@operation.target_amount - @shares_values) %>">
  </canvas>

</div>
