<h2>Créer une nouvelle opération</h2>


<%= simple_form_for [@company, @operation] do |f| %>
  <%= f.input :name, label: 'Donnez un nom à cette opération'  %>
  <%= f.input :category, collection: ['Levée de fonds', 'BSPCE', 'AGA', 'BSA'], label: 'Quelle opération ?' %>
<% end %>
