<h2>Voici les infos relatives à l'opération <%= @operation.name %></h2>


<%= link_to 'Retour à la liste des opérations', company_operations_path(@operation.company.id) %>
<br>
<br>
<%= link_to 'Retour au menu principal', current_user_dashboard_path %>
